body {
  background-color: rgb(255, 255, 255);
}

/* Hide scrollbar for Chrome, Safari, and Edge */
body::-webkit-scrollbar {
  display: none;
}


/* MAIN NAVBAR  */

.main-logo {
  width: 251.658px;
  height: 102px;
  flex-shrink: 0;
  background: url('./Assets/logo.png') rgb(255, 255, 255) 100% / cover no-repeat;
}



/* LOAN OPTION  */

.loanOp-Main {
  background-color: white;
  padding: 10px;
  margin-top: 140px;
}

.loanOpt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.l-opt-q1 {
  width: 1120px;
  height: 73px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10px;
  margin: 10px;
  margin-bottom: 10px;
}

.l-opt-video {
  width: 1182px;
  height: 532px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #000;
  box-shadow: 9px 19px 17.3px 3px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 50px;
}

.skip-button {
  width: 190px;
  height: 57px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #007CFF;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px black;
  margin: 20px;
}

.voice-Main {
  background-color: white;

}

.voice-Main-Head {
  width: 100%;
  height: 48px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 20px;
}

.voice-Main-Head-Button {
  width: 100%;
  height: 48px;
  color: #000;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 20px;
}

.loan-selected-green {
  color: #37D203;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.voice-Main-Head-Button {
  width: 150px;
  height: 37px;
  flex-shrink: 0;
  background: #007CFF;
  border: 1px;
  color: white;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 32px;

  padding: 10px 15px;
  font-size: 16px;
  border: none;
  background-color: #007CFF;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;

}

:hover.voice-Main-Head-Button {
  background-color: #37D203;

}

.UploadDoc-Main {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.UploadDoc-Main-text {
  width: 513px;
  height: 54px;
  flex-shrink: 0;
  color: #007CFF;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}

.page-margin {
  margin-top: 130px;
}